Service(
  name: "service_helper",
  environments: [
    Environment(
      name: "parent",
      // sources are files, values from files are overwritten by the values defined in here
      sources: ["service-parent.env"],
      // values, these override any variables from sources or inherits
      values: {
        "FOURTH": "4",
        "FIFTH": "5",
        "OVERRIDE_BY_VALUES": "yes",
      }
    ),
    Environment(
      name: "child",
      // inherit gets all values from the parents, last parent has precedence
      inherits: ["parent"],
      // sources are files, values override parent values
      sources: ["service-child.env"],
      // values, again override any prior variables
      values: {
        "NINETH": "9",
        "TENTH": "10",
        "OVERRIDE_BY_CHILD_VALUES": "yes",
      },
    ),
    Environment(
      name: "test",
      // inherit gets all values from the parents, last parent has precedence
      inherits: ["child"],
      // values, again override any prior variables
      values: {
        "run_command": "test"
      },
    ),
  ],
  build: [
    BuildStep(
      name: "cargo-version",
      shell: Process(
        command: "cargo",
        args: ["--version"]
      ),
    ),
    BuildStep(
      name: "render-template",
      shell: Process(
        command: "echo",
        args: ["job", "'{{build.name}}'", "compiles", "'{{build.input_files}}'"]
      ),
      input_files: ["src/*.rs"]
    ),
    BuildStep(
      name: "build",
      shell: Process(
        command: "cargo",
        args: ["build"]
      ),
      depends_on: ["cargo-version"]
    ),
    BuildStep(
      name: "release",
      shell: Process(
        command: "cargo",
        args: ["build", "--release"]
      ),
    ),
  ],
  commands: [
    Command(
      name: "exec",
      shell: [
        Process(
          command: "echo",
        ),
      ],
      capture_all: true
    ),
    Command(
      name: "run",
      shell: [
        Process(
          command: "target/x86_64-unknown-linux-musl/debug/service_helper",
          args: ["echo-env"]
        ),
      ],
      depends_on_build: ["build"]
    ),
    Command(
      name: "echo-env",
      shell: [
        Process(
          command: "bash",
          args: ["./service-env.sh"],
        ),
      ],
      environment: "child",
    ),
    Command(
      name: "build",
      depends_on_build: ["release"]
    ),
    Command(
      name: "test",
      environment: "child",
      depends_on_build: ["render-template"]
    ),
    Command(
      name: "test-build",
      shell: [
        Process(
          command: "target/x86_64-unknown-linux-musl/debug/service_helper",
          args: ["{{env.run_command}}"]
        ),
      ],
      environment: "test",
      depends_on_build: ["build"]
    ),
  ]
)
